# Show/Hide Finder Files
alias show='defaults write com.apple.finder ShowAllFiles TRUE'
alias hide='defaults write com.apple.finder ShowAllFiles FALSE'

# Show/Hide Desktop Icons
alias cleandesk="defaults write com.apple.finder CreateDesktop false; killall Finder"
alias messydesk="defaults write com.apple.finder CreateDesktop true; killall Finder"

# Edit/Reload zsh profile
alias editprofile='$EDITOR ~/.dotfiles/.zshrc'
alias editaliases='$EDITOR ~/.dotfiles/.aliases'
alias reload='exec zsh'

# Common Commands
alias l='eza --icons --color=always'
alias ls='eza -GFh --icons --color=always'
alias ll='eza -l --icons --color=always'
alias la='eza -la --icons --color=always'
alias cat='bat'
alias q='exit'
alias c='clear'
alias h='history'
alias cls='clear;ls'
alias gs='git status'
alias gwhoops="git reset --soft HEAD~1"
alias python="python3"
alias ipython='IPython'
alias fzf-preview='fzf --preview "bat --color=always {}"'

# Info Commands
alias diskspace='df -h /Volumes/Macintosh\ HD'
alias filecount='find . -type f | wc -l'
alias myip='ifconfig | grep "inet "'
alias ip='curl icanhazip.com'
alias cpu='top -o cpu'
alias mem='top -o rsize'
alias sizeof='du -sh'

# Scripts
alias fixme='~/Dropbox/dev/scripts/fixme.sh'
alias tictactoe='python3 ~/Dropbox/dev/projects/games/tic-tac-toe/tic-tac-toe.py'
alias expenses='/Users/jbd/Dropbox/dev/work/expense-report/run'
alias market='python3 ~/Dropbox/dev/scripts/market.py'
alias aoc='cd /Users/jbd/Dropbox/DEV/learning/challenges/aoc && venv/bin/python aoc.py'

pman() {
    man -t "${1}" 2>/dev/null | ps2pdf - - | open -f -a Preview.app
}

folder-destroyer () {
    find . -d -empty -print
}

openrepo () {
    url=$(git remote get-url origin | sed 's/git@github.com:/https:\/\/github.com\//')
    open $url
}

# Python pip Global Install
gpip() {
  PIP_REQUIRE_VIRTUALENV=false pip "$@"
}

# Python Virtual Environments
alias vm='python3 -m venv venv'
alias vmake='python3 -m venv venv && source venv/bin/activate && pip install --upgrade pip'
alias vs='source venv/bin/activate'
alias vstart='source venv/bin/activate'
alias vr='deactivate; source venv/bin/activate'
alias ve='deactivate'
alias vend='deactivate'

# Common Directories
alias desktop='cd ~/Desktop'
alias dropbox='cd ~/Dropbox'
alias dotfiles='cd ~/.dotfiles'
alias dev='cd ~/Dropbox/DEV'
alias projects='cd ~/Dropbox/DEV/projects'
alias scripts='cd ~/Dropbox/DEV/scripts'
alias notebooks='cd ~/Dropbox/DEV/jupyter'
alias blog='cd ~/Dropbox/BLOG'
alias notes='cd ~/Dropbox/NOTES'

# Do/Run/Build
alias run='./run'
alias escompile='bash /Users/jbd/Dropbox/DEV/projects/escompile/escompile.sh'
