# Show/Hide Finder Files
alias show='defaults write com.apple.finder ShowAllFiles TRUE'
alias hide='defaults write com.apple.finder ShowAllFiles FALSE'

# Show/Hide Desktop Icons
alias cleandesk="defaults write com.apple.finder CreateDesktop false; killall Finder"
alias messydesk="defaults write com.apple.finder CreateDesktop true; killall Finder"

# Edit/Reload zsh profile
alias editprofile='vim ~/Dropbox/Dev/dotfiles/.zshrc'
alias codeprofile='code ~/Dropbox/Dev/dotfiles/.zshrc'
alias editaliases='vim ~/Dropbox/Dev/dotfiles/.aliases'
alias codealiases='code ~/Dropbox/Dev/dotfiles/.aliases'
alias reload='source ~/.zshrc'
alias dotfiles='cd ~/Dropbox/Dev/dotfiles'

# Open Common Mac Programs
alias text='open -a TextEdit'
alias pre='open -a Preview'
alias new_job='python3 ~/Dropbox/Dev/projects/DNKD/new-project/new_project.py'
alias ipython='IPython'

# Common Commands
alias l='exa'
alias ls='exa -GFh'
alias ll='exa -l'
alias la='exa -la'
alias cat='bat'
alias q='exit'
alias c='clear'
alias h='history'
alias cls='clear;ls'
alias gs='git status'

# Info Commands
alias diskspace='df -h /Volumes/Macintosh\ HD'
alias filecount='find . -type f | wc -l'
alias myip='ifconfig | grep "inet "'
alias ip='curl icanhazip.com'
alias cpu='top -o cpu'
alias mem='top -o rsize'
# alias todo='for f in *.py; do echo "File $f TODO entries..."; grep TODO $f | tr -s " " | grep TODO; done;'

# Scripts
alias todo='python3 ~/Dropbox/Dev/scripts/todo-grabber.py'
alias tictactoe='python3 ~/Dropbox/Dev/projects/games/tic-tac-toe/tic-tac-toe.py'
alias expenses='python3 ~/Dropbox/Dev/scripts/airtable-expenses.py'
alias market='python3 ~/Dropbox/Dev/scripts/market.py'

# Python Virtual Environments
alias vmake='python3 -m venv venv'
alias vstart='source venv/bin/activate'
alias vrestart='deactivate; source venv/bin/activate'
alias vend='deactivate'

# Python Flask Project Setup
alias flask-setup='~/Dropbox/Dev/scripts/flask-setup.sh'

# Common Directories
alias desktop='cd ~/Desktop'
alias dropbox='cd ~/Dropbox'
alias dev='cd ~/dev'
alias projects='cd ~/dev/projects'
alias scripts='cd ~/dev/scripts'
alias notebooks='cd ~/Dropbox/Dev/jupyter'
